* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Lato", sans-serif;
}

.conteiner-nav {
  width: 1170px;
  margin: 0 auto;
  height: 92px;
}

.wrapper-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper-nav img {
  margin-top: 13px;
}

.block-nav {
  padding: 34px 0px 34px 0px;
}

.list-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.list-nav li > a {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #6C6C6C;
  padding-right: 40px;
}
.list-nav li:last-child {
  padding: 0;
}
.list-nav > li:first-child a {
  color: #AC1313;
}

.text-nav a {
  font-size: 14px;
  line-height: 20px;
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  color: #000;
  font-weight: normal;
}
.text-nav a:before {
  content: "";
  background: url(../../img/box.png);
  width: 10px;
  height: 10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-right: 10px;
}

.header {
  background: url(../../img/image1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 127px 144px 114px 144px;
  position: relative;
}

.wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vaza-img {
  display: inline-block;
  position: absolute;
  bottom: 40px;
  left: 635px;
}

.block-header .text-Pompeo {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  margin-top: 98px;
  font-weight: bold;
  text-transform: uppercase;
  color: #D77474;
  margin-bottom: 12px;
}
.block-header h1 {
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 14px;
}
.block-header .text-modern {
  font-size: 16px;
  line-height: 26px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: normal;
  color: #6C6C6C;
  margin-bottom: 51px;
}
.block-header img {
  position: absolute;
  top: 230px;
  left: 566px;
  height: 68px;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  width: 201px;
  height: 62px;
  background: #AC1313;
  border-radius: 0px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
}
.btn:hover {
  background-color: #cf1717;
  font-size: 13px;
  opacity: 0.98;
}

.section-products {
  padding: 120px 120px 150px 120px;
}

.conteiner-products {
  margin-bottom: 63px;
  position: relative;
  text-align: center;
}
.conteiner-products p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #D77474;
  margin-bottom: 40px;
}
.conteiner-products h2 {
  font-size: 40px;
  line-height: 50px;
}
.conteiner-products img {
  display: inline-block;
  position: relative;
  bottom: 20px;
  left: 2px;
  z-index: 1;
}

.conteiner-things {
  margin: 0px 89px 90px 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.conteiner-things .block-img_1 {
  background: url(../../img/vases.png) center no-repeat, url(../../img/circleBrown.png) left no-repeat;
  width: 240px;
  height: 240px;
  margin-right: 151px;
}
.conteiner-things .block-img_2 {
  background: url(../../img/plate.png) center no-repeat, url(../../img/circleOrange.png) center no-repeat;
  width: 240px;
  height: 240px;
  margin-right: 151px;
}
.conteiner-things .block-img_3 {
  background: url(../../img/plates.png) center no-repeat, url(../../img/circleRed.png) right no-repeat;
  width: 240px;
  height: 240px;
}

.block-img_1 {
  position: relative;
}
.block-img_1 p {
  margin-top: 2px;
  font-size: 14px;
  line-height: 38px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  position: absolute;
  left: 95px;
  top: 146px;
  color: #fff;
  text-transform: uppercase;
}

.block-img_2 {
  position: relative;
}
.block-img_2 p {
  margin-top: 2px;
  font-size: 14px;
  line-height: 38px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  position: absolute;
  left: 95px;
  top: 146px;
  color: #fff;
  text-transform: uppercase;
}

.block-img_3 {
  position: relative;
}
.block-img_3 p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 38px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  position: absolute;
  left: 93px;
  top: 146px;
  color: #fff;
  text-transform: uppercase;
}

.conteiner-twoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-Text h3 {
  font-size: 29px;
  line-height: 36px;
  margin-bottom: 26px;
}
.block-Text p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: normal;
  color: #6C6C6C;
}

.first {
  margin: 0px 177px 0px 24px;
}

.section-descript {
  padding: 77px 0px 48px 144px;
}

.wrapper-descript_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../../img/grayback.png) 0px 146px no-repeat;
}
.wrapper-descript_1 img {
  display: inline-block;
  position: relative;
  left: 118px;
  top: 0px;
}

.block-gold {
  margin: 165px 0px 0px 400px;
}
.block-gold h4 {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 24px;
}
.block-gold .text-descript {
  font-size: 14px;
  line-height: 24px;
  color: #6C6C6C;
  margin-bottom: 27px;
  font-family: "Libre Franklin", sans-serif;
}
.block-gold p {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.block-gold p a {
  color: #000000;
}

.wrapper-descript_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../../img/grayother.png) 645px 85px no-repeat;
}
.wrapper-descript_2 img {
  position: relative;
  left: 110px;
  top: 0px;
}

.block2 {
  margin: 99px 240px 0px 0px;
}

.section-collection {
  padding: 121px 144px 120px 144px;
  text-align: center;
}
.section-collection p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: #D77474;
  margin-bottom: 17px;
}
.section-collection h2 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 63px;
}

.wrapper-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-decor img {
  margin-bottom: 20px;
}
.block-decor p {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #000;
}
.block-decor p a {
  font-size: 16px;
  line-height: 26px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: normal;
  color: #6C6C6C;
}

.btn {
  margin-top: 59px;
}

.section-start {
  background-image: url(../../img/back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 471px;
  padding: 120px 0px 120px 144px;
}

.conteiner-start .text1 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #D77474;
  margin-bottom: 7px;
}
.conteiner-start h3 {
  font-size: 36px;
  line-height: 46px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 13px;
}
.conteiner-start .text2 {
  font-size: 16px;
  line-height: 24px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  color: #6C6C6C;
  margin-bottom: 30px;
}
.conteiner-start .text2 a {
  color: #AC1313;
}
.conteiner-start .btn {
  margin: 0;
}

.section-news {
  padding: 121px 0px 161px 0px;
  text-align: center;
}
.section-news p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #D77474;
  margin: 40px 0px 40px 0px;
}
.section-news h2 {
  font-size: 40px;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #000000;
  margin-bottom: 63px;
}
.section-news h2 img {
  position: relative;
  bottom: 20px;
  left: 0px;
}
.section-news .text-news {
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0.8px;
  color: #A1A1A1;
}
.section-news .text-news::before {
  content: url(../../img/squar.png);
  padding-right: 5px;
}

form {
  margin-bottom: 40px;
}
form input {
  padding: 13px 0px 12px 25px;
  font-size: 14px;
  line-height: 20px;
  width: 320px;
  height: 45px;
  border: 1px solid #EBEBEB;
  border-radius: 0px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  color: #A1A1A1;
}
form .btn-black {
  margin-left: 4px;
  font-size: 14px;
  line-height: 20px;
  width: 175px;
  height: 45px;
  display: inline;
  background: #000000;
  border-radius: 0px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
}
form .btn-black:hover {
  background-color: #131212;
  font-size: 15px;
  opacity: 0.98;
}

.section-info {
  background: rgba(219, 219, 219, 0.1);
  padding: 107px 120px 80px 120px;
}

.conteiner-info {
  text-align: center;
}
.conteiner-info img {
  margin-bottom: 30px;
}
.conteiner-info p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: normal;
  color: #6C6C6C;
  margin-bottom: 70px;
}

.wrapper-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.wrapper-info .info1 {
  background-image: url(../../img/letter.png);
  background-repeat: no-repeat;
  background-position: 65px top;
}
.wrapper-info .info2 {
  background-image: url(../../img/gps.png);
  background-repeat: no-repeat;
  background-position: 60px top;
}
.wrapper-info .info3 {
  background-image: url(../../img/call.png);
  background-repeat: no-repeat;
  background-position: 32px top;
}
.wrapper-info .block-info {
  text-align: center;
}
.wrapper-info .block-info p {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 1px;
  margin: 50px 0px 20px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
}
.wrapper-info .block-info a {
  font-size: 14px;
  line-height: 24px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: normal;
  color: #6C6C6C;
}

.footer {
  padding: 30px 159px 20px 159px;
  text-align: center;
}
.footer p {
  font-size: 12px;
  line-height: 22px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: normal;
  color: #000;
}
.footer p span {
  color: #6C6C6C;
}